In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression
crop_data = pd.read_csv('CropLabels.csv')
crop_data.head()

,Unnamed: 0,District,Year,Season,Crop,Area,Production,Productivity,CropLabel
0,0,AMRAVATI,2001,Kharif,Bajra,1000,400,0.400000,1
1,5,AMRAVATI,2002,Kharif,Bajra,800,500,0.625000,2
2,10,AMRAVATI,2003,Kharif,Bajra,800,400,0.500000,1
3,15,AMRAVATI,2004,Kharif,Bajra,700,400,0.571429,2
4,19,AMRAVATI,2005,Kharif,Bajra,300,100,0.333333,1

In [3]:
crop_data.describe()

,Unnamed: 0,Year,Area,Production,Productivity,CropLabel
count,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000
mean,258.052632,2007.305263,59036.589474,47552.273684,0.667420,1.800000
std,156.570925,3.960103,84620.676491,68640.827831,0.264058,0.819964
min,0.000000,2001.000000,2.000000,1.000000,0.031746,0.000000
25%,114.500000,2004.000000,1650.000000,891.000000,0.472685,1.000000
50%,280.000000,2007.000000,9700.000000,3900.000000,0.630721,2.000000
75%,395.500000,2011.000000,115000.000000,86600.000000,0.806629,2.000000
max,504.000000,2014.000000,324200.000000,258500.000000,1.408686,4.000000

In [4]:
crop_data.isnull().sum()

Unnamed: 0      0
District        0
Year            0
Season          0
Crop            0
Area            0
Production      0
Productivity    0
CropLabel       0
dtype: int64

In [5]:
X =crop_data.iloc[:,[5,7]].values
Y=crop_data['CropLabel'].values
X

array([[1.00000000e+03, 4.00000000e-01],
       [8.00000000e+02, 6.25000000e-01],
       [8.00000000e+02, 5.00000000e-01],
       [7.00000000e+02, 5.71428571e-01],
       [3.00000000e+02, 3.33333333e-01],
       [2.00000000e+02, 5.00000000e-01],
       [2.00000000e+00, 5.00000000e-01],
       [3.00000000e+02, 6.66666667e-01],
       [2.00000000e+02, 1.00000000e+00],
       [3.00000000e+02, 6.66666667e-01],
       [3.00000000e+02, 6.66666667e-01],
       [3.00000000e+02, 6.66666667e-01],
       [1.37400000e+05, 6.31004367e-01],
       [1.49900000e+05, 8.74583055e-01],
       [1.28700000e+05, 8.56254856e-01],
       [1.28900000e+05, 8.37083010e-01],
       [1.31400000e+05, 1.14155251e+00],
       [1.23100000e+05, 1.13241267e+00],
       [1.11100000e+03, 1.22592259e+00],
       [1.09100000e+05, 9.48670944e-01],
       [1.22400000e+05, 9.95098039e-01],
       [8.98000000e+04, 1.40868597e+00],
       [6.85000000e+04, 1.28175182e+00],
       [6.85000000e+04, 6.49635036e-01],
       [3.10000000e+04, 1.22580645e+00],
       [4.53000000e+04, 5.34216336e-01],
       [9.50000000e+03, 3.26315789e-01],
       [9.30000000e+03, 6.12903226e-01],
       [8.10000000e+03, 4.44444444e-01],
       [7.40000000e+03, 5.27027027e-01],
       [6.00000000e+03, 5.50000000e-01],
       [5.90000000e+03, 4.06779661e-01],
       [5.60000000e+01, 5.53571429e-01],
       [5.00000000e+03, 4.60000000e-01],
       [4.00000000e+03, 3.75000000e-01],
       [4.30000000e+03, 5.11627907e-01],
       [3.80000000e+03, 5.52631579e-01],
       [3.80000000e+03, 7.10526316e-01],
       [2.70000000e+03, 4.81481481e-01],
       [2.50000000e+03, 1.60000000e-01],
       [3.24200000e+05, 5.54904380e-01],
       [3.20300000e+05, 8.07055885e-01],
       [3.16800000e+05, 6.20896465e-01],
       [3.15200000e+05, 7.75697970e-01],
       [2.82900000e+05, 7.63167197e-01],
       [2.58500000e+05, 7.24564797e-01],
       [2.15800000e+03, 1.10982391e+00],
       [1.97900000e+05, 9.65133906e-01],
       [1.71900000e+05, 7.53344968e-01],
       [1.71200000e+05, 1.26343458e+00],
       [1.65900000e+05, 1.02531646e+00],
       [1.54800000e+05, 8.06201550e-01],
       [1.49600000e+05, 1.11965241e+00],
       [1.52700000e+05, 7.13163065e-01],
       [1.13200000e+05, 7.56183746e-01],
       [1.23900000e+05, 6.98143664e-01],
       [9.70000000e+04, 6.96907216e-01],
       [1.16800000e+05, 7.26027397e-01],
       [1.25300000e+05, 7.21468476e-01],
       [1.28900000e+05, 6.30721490e-01],
       [1.12700000e+03, 8.71339840e-01],
       [3.45000000e+04, 7.82608696e-01],
       [4.60000000e+04, 7.36956522e-01],
       [4.86000000e+04, 8.84773663e-01],
       [5.07000000e+04, 8.02761341e-01],
       [3.60000000e+04, 4.63888889e-01],
       [4.98000000e+04, 8.35341365e-01],
       [3.15000000e+04, 8.34920635e-01],
       [1.18000000e+04, 4.57627119e-01],
       [2.51000000e+04, 3.78486056e-01],
       [9.70000000e+03, 3.81443299e-01],
       [2.62000000e+04, 5.72519084e-01],
       [1.48000000e+04, 4.52702703e-01],
       [2.75000000e+04, 2.80000000e-01],
       [2.15000000e+02, 4.23255814e-01],
       [1.80000000e+03, 4.44444444e-01],
       [1.44000000e+04, 3.61111111e-01],
       [1.84000000e+04, 5.21739130e-01],
       [9.90000000e+03, 3.93939394e-01],
       [6.30000000e+03, 3.17460320e-02],
       [6.30000000e+03, 3.49206349e-01],
       [5.50000000e+03, 4.00000000e-01],
       [7.40000000e+03, 3.64864865e-01],
       [5.60000000e+03, 6.25000000e-01],
       [5.00000000e+03, 4.40000000e-01],
       [3.60000000e+03, 4.44444444e-01],
       [3.00000000e+03, 5.00000000e-01],
       [8.00000000e+02, 5.00000000e-01],
       [7.00000000e+00, 5.71428571e-01],
       [1.50000000e+03, 5.33333333e-01],
       [1.50000000e+03, 7.33333333e-01],
       [1.30000000e+03, 5.38461538e-01],
       [4.00000000e+02, 7.50000000e-01],
       [3.00000000e+02, 1.00000000e+00],
       [1.00000000e+02, 1.00000000e+00]])

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=1)

In [7]:
X_train = X_train.reshape(-1,2)
reg = LinearRegression()
#fitting
reg = reg.fit(X_train,Y_train)
# Y prediction
y_pred = reg.predict(X_train)
y_pred.shape
print(y_pred)

[2.26121539 2.04993049 1.4679827  1.98254772 3.06653324 1.74709367
 0.97370751 1.04348887 1.88268167 2.01672672 2.27727897 1.0272477
 2.22086321 1.32140895 0.83901167 2.71239902 2.13287888 1.7030273
 0.85723507 1.22560057 3.86236008 0.94598616 1.51985035 0.98640047
 1.46097167 1.9868965  1.70233252 2.64339685 2.19501655 1.66962089
 3.34511452 2.71238484 3.0982839  2.35448776 1.04285074 1.16689703
 1.96652354 3.50611409 2.1123041  2.39860274 1.78481705 1.42819656
 2.38461004 1.2047439  0.90225649 2.33060099 1.39724225 1.16753517
 1.78481705 3.3411992  2.7160729  2.80633173 1.4226228  1.3209838
 1.52650108 0.93653307 1.66894021 3.12489476 2.17068109 0.01884509
 1.32101188 1.16664178 1.78481705 1.19146592 1.70501984 1.90736364]

In [8]:
# model evaluation for testing set
# model evaluation for training set

X_test = X_test.reshape(-1,2)

#creating model
reg = LinearRegression()
#fitting training data
reg = reg.fit(X_test,Y_test)
# Y prediction
y_pred = reg.predict(X_test)
y_pred

array([1.70274786, 0.95182491, 3.19779336, 2.06251789, 1.33049017,
       3.83636052, 1.24562274, 2.33309045, 1.47345153, 1.9927273 ,
       2.34384259, 1.61422814, 0.99958855, 1.05732228, 1.41636444,
       1.98667713, 0.15935203, 1.77839851, 1.24562274, 1.18803075,
       2.05979428, 0.56502267, 2.77529926, 1.35287418, 2.84464632,
       1.28586974, 1.12130759, 2.2050576 , 0.87407449])

In [9]:
print(y_pred.shape)
print(Y_train.shape)
y_pred=y_pred.reshape(-1,1)
Y_train=Y_train.reshape(-1,1)
r2_score = reg.score(X_train, Y_train)
print(r2_score)

(29,)
(66,)
0.85460066654909

In [10]:
# R2 score (for testing set)
r2_score = reg.score(X_test, Y_test)
print(r2_score)

0.8987526415609037